{% extends "layout.html" %}
{% block content %}
  <h1>Welcome to your Employee Center</h1>
  <div class="content-section">
      <form method="POST" action="">
          {{ form.hidden_tag() }}
          <h3>Check Arrivals</h3>
          <h5><a href="/updateRes">Update Reservations</a></h5>
          <h5><a href="/cancelRes">Cancel Reservations</a></h5>
          <h5><a href="/guestToDate">Guest To Date Report</a></h5>
		  <h5><a href="/newHire">Enter New Employee Information</a></h5>
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Select Date</legend>
              <div class="form-group">
                  {{ form.arrival.label(class="form-control-label") }}

                  {% if form.arrival.errors %}
                      {{ form.arrival(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.arrival.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.arrival(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
          </fieldset>
          <div class="form-group">
              <h3>{{ form.submit(class="btn btn-outline-info") }}</h3>
          </div>

      </form>
  </div>

{% endblock content %}
