{% extends "layout.html" %}
{% block content %}
    <h1>Amenities at Hotel 453</h1>
    <h2>Pool</h2>
    <p>During the summer, enjoy our pool & hot tubs for ultimate relaxation
      in the Second City</p>
      <div>
        <img src="/static/img/pool.jpg" height="350" width="350" />
        <img src="/static/img/pool2.jpg" height="350" width="350" />
      </div>
    <h2>Gym Facilities</h2>
    <p>Our hotel gives you access to the Equinox Fitness facilities located in
      the hotel. Enjoy premium fitness services as well as access to their yoga
      studio.</p>
    <div>
    <img src="/static/img/gym.jpg" height="350" width="350" />
    <img src="/static/img/gym2.jpg" height="350" width="350"/>
  </div>
  <p></p>
  <div>
    <img src="/static/img/gym3.jpg" height="350" width="705" />
  </div>
{% endblock content %}
