{% extends "layout.html" %}
{% block content %}
    <h1>Review Reservation</h1>
    <br>
    <h5>Enter Your Last Name</h3>
    <input type="text">
    <br><br>
    <h5>Enter Your Reservation Number</h3>
    <input type="text">
    <br><br>
    <input type="submit" value="Find Reservation">

    <!-- I want to add a feature where if a user puts in a non-valid Name & Reservation Number
    a box pops up that says "Invalid Name and/or Reservation Number. Please call
    the hotel at 1-800-555-5555" -->

{% endblock content %}
